.añadirUsuario,
.verUsuarios {
  display: inline-flex;
  align-items: center;
  margin: 15% 20%;
  width: 120px;
  height: 120px;
}

.añadirUsuario:hover,
.verUsuarios:hover {
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.4);
}


::-webkit-scrollbar {
  width: 6px;
} 
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}